html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e5e5e5;
    color: #24282B;
    text-align: center;
}

p{
    
}

button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    color: #ff5E84;
}

.fat{
    background-color: #ff5E84;
    color: white;
}

footer a{
    color: #25282B;
    text-decoration: none;
    font-weight: bolder;
}